<header class="header">
    <div class="container header-inner">
        <a href="../pages/index.html" class="logo">electhree</a>
        
        <div class="header-right">
        <nav class="nav-main">
            <div class="dropdown">
            <a href="#" class="nav-link">Products</a>
            <div class="dropdown-content">
                <a href="../pages/home-appliances.html">Home Appliances</a>
                <a href="../pages/kitchen-appliances.html">Kitchen Appliances</a>
                <a href="../pages/personal-care.html">Personal Care</a>
                <a href="../pages/sports.html">Sports</a>
                <a href="../pages/home-entertainments.html">Home Entertainments</a>
                <a href="../pages/power-tools.html">Power Tools</a>
            </div>
            </div>
            <a href="../pages/cart.html" class="nav-link">Cart</a>
        </nav>

        <div class="search-wrapper">
            <input type="text" placeholder="What are you looking for" class="search-input" />
            <button class="search-btn">🔍</button>
        </div>

        <a href="/account" class="nav-link">Account</a>
        </div>
    </div>
</header>
